apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig

# do not add `name` and `region` to this eksctl file. CI will fill these in automatically
metadata:

iam:
  withOIDC: true
  serviceAccounts:
    - metadata:
        name: dummy-setup-account
      attachPolicy:
        Version: "2012-10-17"
        Statement:
          - Effect: Deny
            Action:
              - "s3:*"
            Resource: '*'
    - metadata:
        name: aws-node
        namespace: kube-system
        labels:
          aws-usage: cluster-ops
      attachPolicyARNs:
      - "arn:aws:iam::aws:policy/AmazonEKS_CNI_Policy"

# if you add or remove items under managedNodeGroups, make sure you update customized cluster
# config for each of the Github environments under infra/config/cluster
managedNodeGroups:
  - name: nodegroup-post-scaling-x86-v2
    instanceType: r5.large
    desiredCapacity: 2
    minSize: 2
    maxSize: 4
    volumeSize: 80
    iam:
      withAddonPolicies:
        ebs: true
        autoScaler: true
  - name: nodegroup-post-scaling-x86-v3
    instanceType: r6i.large
    desiredCapacity: 2
    minSize: 2
    maxSize: 4
    volumeSize: 80
    volumeEncrypted: true
    iam:
      withAddonPolicies:
        ebs: true
        autoScaler: true

# if you add or remove items under fargateProfiles, make sure you update customized cluster
# config for each of the Github environments under infra/config/cluster
fargateProfiles:
  - name: worker-default
    selectors:
      - namespace: worker-default
  - name: pipeline-default
    selectors:
      - namespace: pipeline-default