apiVersion: v1
kind: Service
metadata:
  name: xray-service
  namespace: default
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: 2000
spec:
  selector:
    app: xray-daemon
  ports:
    - name: xray-ingest
      port: 2000
      protocol: UDP
    - name: xray-tcp
      port: 2000
      protocol: TCP