apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: default
  name: 503-for-pending-subscriptions
  annotations:
    alb.ingress.kubernetes.io/certificate-arn: >-
      {{ .Values.acmCertificate }}
    alb.ingress.kubernetes.io/group.name: "{{ .Values.clusterEnv }}"
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS":443}]'
    alb.ingress.kubernetes.io/target-type: ip
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/group.order: '1000'
    alb.ingress.kubernetes.io/actions.response-503: >
      {"type":"fixed-response","fixedResponseConfig":{"contentType":"text/plain","statusCode":"503","messageBody":"The subscription endpoint is not available yet."}}
spec:
  rules:
    - http:
        paths:
          - path: /v2/pipelineResults
            pathType: ImplementationSpecific
            backend:
              service:
                name: response-503
                port:
                  name: use-annotation
          - path: /v2/gem2sResults
            pathType: ImplementationSpecific
            backend:
              service:
                name: response-503
                port:
                  name: use-annotation