name: [TEST] Automate RDS Roles
on:
  push:
    branches:
      - test-automate-rds-roles
    paths:
      - 'cf/**.yaml'
      - 'cf/**.yml'
env:
  region: 'eu-west-1'

jobs:
  get-modified-templates:
    name: Fetch paths to modified CloudFormation templates
    runs-on: ubuntu-20.04
    outputs:
      files: ${{ steps.check-number-of-cf-files.outputs.files }}
      num-files: ${{ steps.check-number-of-cf-files.outputs.num-files }}
    steps:
      - id: get-changed-files
        name: Get changed files
        uses: lots0logs/gh-action-get-changed-files@2.1.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - id: check-number-of-cf-files
        name: Check CloudFormation templates
        run: |-
          # Merge all modified and renamed files into one JSON array
          #jq -s add ${HOME}/files_added.json ${HOME}/files_modified.json ${HOME}/files_renamed.json > ${HOME}/files_to_check.json

          cat ${HOME}/files.json
          echo

          # Select those that are CF templates (path starts with `cf/`)
          jq '[.[] | select(match("^cf/"))]' ${HOME}/files.json > ${HOME}/cf_files.json

          # Set as output the minified JSON.
          echo "::set-output name=files::$(jq -c . < ${HOME}/cf_files.json)"
          echo "$(jq -c . < ${HOME}/cf_files.json)"
          echo "::set-output name=num-files::$(jq '. | length' ${HOME}/cf_files.json)"

  deploy-templates:
    name: Deploy changed CloudFormation template
    runs-on: ubuntu-20.04
    needs: get-modified-templates
    if: needs.get-modified-templates.outputs.num-files > 0
    outputs:
      deploy-rds: ${{ contains(steps.set-name.outputs.stack-name, '-rds-') }}
    strategy:
      matrix:
        environment: ['staging']
        template: ${{fromJson(needs.get-modified-templates.outputs.files)}}
    env:
      CLUSTER_ENV: ${{ matrix.environment }}
    steps:
      - id: checkout
        name: Check out source code
        uses: actions/checkout@v2

      - id: lint
        name: Lint template
        uses: scottbrenner/cfn-lint-action@1.6.1
        with:
          args: ${{ matrix.template }}

      - id: set-up-creds
        name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.region }}

      # This is only necessary for IAM Service Account roles.
      - id: get-oidc
        if: ${{ contains(matrix.template, 'irsa-') && github.ref == 'refs/heads/master' }}
        name: Get OIDC provider information for IRSA role
        run: |-
          OIDC_PROVIDER=$(aws eks describe-cluster --name "biomage-$CLUSTER_ENV" --query "cluster.identity.oidc.issuer" --output text | sed -e "s/^https:\/\///")
          echo "::set-output name=oidc-provider::$OIDC_PROVIDER"

      - id: set-name
        name: Set name of the CloudFormation stack
        run: |-
          echo "Ref is $GITHUB_REF"
          BASE_NAME=biomage-$(basename $FILE_NAME | sed "s/\..*//")-$CLUSTER_ENV
          echo "::set-output name=stack-name::$BASE_NAME"
        env:
          FILE_NAME: ${{ matrix.template }}

      - id: deploy-template
        name: Deploy CloudFormation template
        if: ${{ !contains(matrix.template, 'irsa-') && github.ref == 'refs/heads/master' }}
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          parameter-overrides: "Environment=${{ matrix.environment }}"
          name: ${{ steps.set-name.outputs.stack-name }}
          template: ${{ matrix.template }}
          no-fail-on-empty-changeset: "1"
          capabilities: "CAPABILITY_IAM,CAPABILITY_NAMED_IAM"

      - id: deploy-irsa-template
        if: ${{ contains(matrix.template, 'irsa-') && github.ref == 'refs/heads/master' }}
        name: Deploy IRSA CloudFormation template
        uses: aws-actions/aws-cloudformation-github-deploy@v1
        with:
          parameter-overrides: "Environment=${{ matrix.environment }},OIDCProvider=${{ steps.get-oidc.outputs.oidc-provider }}"
          name: ${{ steps.set-name.outputs.stack-name }}
          template: ${{ matrix.template }}
          no-fail-on-empty-changeset: "1"
          capabilities: "CAPABILITY_IAM,CAPABILITY_NAMED_IAM"

  setup-rds-roles:
    name: Setup RDS roles for default resources
    runs-on: ubuntu-20.04
    needs: deploy-templates
    if: needs.deploy-templates.outputs.deploy-rds == true
    strategy:
      matrix:
        environment: ['staging']
    env:
      CLUSTER_ENV: ${{ matrix.environment }}
    steps:
      - id: get-rds-secrets
        uses: abhilash1in/aws-secrets-manager-action@v2.0.0
        name: Export RDS secrets into environment variables
        with:
          secrets: aurora-${{ matrix.environment }}
          parse-json: true

      - id: check-rds-secrets
        name: Check RDS secrets are fetched
        run: |-
          # These checks if the RDS username and passwords are set
          if [ -z $AURORA_${{ matrix.environment }}_USERNAME ]; then
            echo "RDS username not provided"
            exit 1
          fi
          if [ -z $AURORA_${{ matrix.environment }}_PASSWORD ]; then
            echo "RDS password not provided"
            exit 1
          fi

      - id: setup-rds-roles
        name: Setup RDS roles for default RDS instances
        run: |-
          INSTANCE_ID=$(aws ec2 describe-instances \
            --filters 'Name=tag:Name,Values=rds-${CLUSTER_ENV}-ssm-agent' \
            --output text \
            --query 'Reservations[*].Instances[*].InstanceId')
          if [ -z $INSTANCE_ID ]; then
            echo "Can not connect to RDS agent: No instances found for $CLUSTER_ENV"
            exit 1
          fi

          CLUSTER_NAME=aurora-cluster-${CLUSTER_ENV}-default
          RDSHOST=$(aws rds describe-db-cluster-endpoints \
            --region $REGION \
            --db-cluster-identifier $CLUSTER_NAME \
            --filter Name=db-cluster-endpoint-type,Values='writer' \
            --query 'DBClusterEndpoints[0].Endpoint' \
            --output text)
          if [ -z $RDSHOST ]; then
            echo "Failed getting RDS host with name $CLUSTER_NAME"
            exit 1
          fi

          SETUP_ROLES_CMD="
            PGPASSWORD=${AURORA_${{ matrix.environment }}_PASSWORD} psql \
              --host=${RDSHOST} \
              --port=5432 \
              --username=${AURORA_${{ matrix.environment }}_USERNAME} \
              --dbname=aurora_db <<EOF
                CREATE ROLE api_role WITH LOGIN;
                CREATE ROLE dev_role WITH LOGIN;
                GRANT USAGE ON SCHEMA public TO api_role;
                GRANT dev_role TO ${AURORA_${{ matrix.environment }}_USERNAME};
                ALTER DEFAULT PRIVILEGES FOR USER dev_role IN SCHEMA public GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO api_role;
                REVOKE dev_role FROM ${AURORA_${{ matrix.environment }}_USERNAME};
                GRANT rds_iam TO api_role;
                GRANT rds_iam, ${AURORA_${{ matrix.environment }}_USERNAME} TO dev_role;
              EOF"

          aws ssm send-command --instance-ids "$INSTANCE_ID" \
            --document-name AWS-RunShellScript \
            --parameters "commands='$SETUP_ROLES_CMD'"
        env:
          REGION: ${{ env.region }}