name: Restore to latest backup for dynamodb tables
on: 
  workflow_dispatch:
    inputs:
      tables:
        description: 'Space separated ids of tables to restore backup for, just write all to back up all tables'
        required: false
        default: ''

jobs:
  restore-tables-backups: 
    name: Restore to latest backup for dynamodb tables
    runs-on: ubuntu-20.04
    env:
      TABLES: ${{ github.event.inputs.tables }}
    steps:
      - id: restore-tables-backups
        name: Restore to latest backup for dynamodb tables
        run: |-
          if [[ "$TABLES" == "all" ]]; then
            tables_to_restore=($(aws dynamodb list-tables | jq -r '.TableNames | .[]' | tr '\r\n' ' '))
          else
            tables_to_restore=(`echo ${TABLES}`)
          fi

          echo "Running restore over $tables_to_restore"
          
          for table in $tables_to_restore
            do
              backups=($(aws dynamodb list-backups --table-name $table | jq -r '.BackupSummaries | .[] | "\(.BackupCreationDateTime)::\(.BackupArn)" '))

              younger_backup_time=0
              younger_backup_arn=""
              for backup_properties in ${backups[@]}; do
                backup_time=${backup_properties%%::*}
                backup_arn=${backup_properties#*::}

                (( backup_time > younger_backup_time )) && younger_backup_time=$backup_time && younger_backup_arn=$backup_arn
              done

              if [[ $younger_backup_arn ]]; then
                aws dynamodb delete-table --table-name $table
                aws dynamodb restore-table-from-backup --target-table-name $table --backup-arn $younger_backup_arn
              else
                echo "No backup found for table $table"
              fi 
          done
